@font-face {
	font-family: "Iosevka Custom Web";
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src:
		url("WOFF2/IosevkaCustom-Regular.woff2") format("woff2"),
		url("TTF/IosevkaCustom-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Iosevka Custom Web";
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src:
		url("WOFF2/IosevkaCustom-Italic.woff2") format("woff2"),
		url("TTF/IosevkaCustom-Italic.ttf") format("truetype");
}

@font-face {
	font-family: "Iosevka Custom Web";
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src:
		url("WOFF2/IosevkaCustom-Bold.woff2") format("woff2"),
		url("TTF/IosevkaCustom-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Iosevka Custom Web";
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src:
		url("WOFF2/IosevkaCustom-BoldItalic.woff2") format("woff2"),
		url("TTF/IosevkaCustom-BoldItalic.ttf") format("truetype");
}
