.buttons {
	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing-sm);
}

.buttons a {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 88px;
	height: 31px;
	image-rendering: pixelated;
	background: var(--theme-background-alt);
	color: var(--theme-foreground);
}

.inline-code {
	border-radius: var(--radius-md);
	border: 1px solid var(--theme-separator);
	background-color: var(--theme-background-alt);
	color: var(--theme-foreground);
	padding: 0.1em 0.5em;
}

nav {
	margin-bottom: var(--spacing-2xl);
}

nav ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding-left: 0;
	gap: var(--spacing-md);
}

nav li a {
	padding: 0.35em 1.5em;
	color: var(--theme-foreground-alt);
	display: block;
}

nav li.selected a {
	background-color: var(--theme-foreground);
	color: var(--theme-background);
	border-radius: var(--radius-sm);
}

nav a {
	color: inherit;
}

section {
	margin-bottom: var(--section-spacing);
}

section p {
	margin-bottom: var(--spacing-md);
	font-size: 0.9em;
	color: var(--theme-foreground-alt);
}

section h2 {
	font-size: var(--font-size-md);
	font-weight: 700;
	margin-bottom: var(--spacing-md);
	position: relative;
	display: flex;
	align-items: center;
	color: var(--theme-foreground);
}

section h2::before {
	content: "";
	display: block;
	width: 0.85rem;
	height: 0.85rem;
	margin-right: 1ch;
	image-rendering: pixelated;
}

header,
section {
	position: relative;
}

header::before,
section::before {
	position: absolute;
	font-size: 13rem;
	font-weight: 700;
	z-index: var(--z-background);
	user-select: none;
	letter-spacing: -0.075em;
	-webkit-text-stroke: 2px var(--theme-foreground);
	color: transparent;
	opacity: 0.025;
	pointer-events: none;
}

@media (max-width: 1489px) {
	header::before,
	section::before {
		display: none;
	}
}

section.typewriting a::after,
#donation a::after,
#links a::after {
	display: inline-block;
	width: 0.9em;
	height: 0.9em;
	margin-left: var(--space-1);
	vertical-align: -0.1em;
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23cac7ee' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6' /%3E%3Cpath d='M11 13l9 -9' /%3E%3Cpath d='M15 4h5v5' /%3E%3C/svg%3E");
}

section.typewriting a,
#donation a,
#links a {
	color: var(--theme-foreground);
}

header {
	margin-bottom: var(--spacing-2xl);
}

header h1 {
	font-size: var(--font-size-2xl);
	line-height: 1.1;
	margin-bottom: var(--space-2);
	position: relative;
	display: inline-block;
}

header h2 {
	font-size: 0.9rem;
	color: var(--theme-foreground-alt);
}
